
/* ****************************************************/
/* ************ Home menu slide out styling ***********/
/* ****************************************************/
  


/* ****************************************/
/* ************* Enable scroll ************/
/* ****************************************/
@media only screen and (min-width : 960px) and (max-width : 1023px) {
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.slider-container {
    overflow: hidden;
}
} 


/* ****************************************/
/* ************ Hidden Elements ***********/
/* ****************************************/
@media only screen and (min-width : 960px) and (max-width : 1500px) {
.mediumNav {
    display: none;
}
}

@media only screen and (min-width : 0) and (max-width : 959px) {
/* hides the following elements in smaller screen */
.topNav,
#aboveFooter,
#homeFooter,
.loginIn-box {
  display: none;
}
}



/* *************************************************************************/
/* ************ Responsiveness styling for screen size 701 - 959px ***********/
/* *************************************************************************/
@media only screen and (min-width : 701px) and (max-width : 959px) {
/*** To Make home menu to drop down instead of slide out dropdown menu here 
***/

/* Slide link styling */
.slide.active .slide-text {
    bottom: 25%;
    width: 25%;
    text-align: center;
    left: 8%;
}
.slide-text .slide-link {
    font-size: 200%;
}

/* Slide control button styling */
.slider-pagi {
    bottom: 18%;
    left: 20%;
}

/* Hide submenu */
.menu ul li > ul,
.menu ul li:hover > ul { 
    display: none;
}


/* Bottom Nav styling */
.nav.mediumNav {
    font-size: 85%;
    color: white;
    width: 272px;
    height: auto;
    text-align: center;
    margin-top: 1.8%;
    padding: 15% 2%;
    border-radius: 0.3em;
    background-color: #cc3300;
    float: right;
    z-index: 200;
}
.mediumNav a {
    color: #fff;
}

.nav.mediumNav img {
    width: 40%;
}

.col-25 {
    width: 25%;
    margin: 0;
    float: left;    
}
}




/* *************************************************************************/
/* ************ Responsiveness styling for screen size 0 - 700px ***********/
/* *************************************************************************/
@media only screen and (min-width : 0) and (max-width : 700px) {
/* Styles */

html, body {
    background-color: transparent;
  	overflow: visible;
  	height: 100%;
}

/* Hidden items on mobile */
.mediumNav,
.homeMenu,
.homeMenuImage {
    display: none ;
}

/* Slider styling */
.slider {
  	z-index: 1;
  	position: relative;
}
.slider-container {
  	overflow: hidden;
}

/* Slide link styling */
.slide.active .slide-text {
  	text-align: center;
    left: 30%;
}
.slide-text .slide-link {
    font-size: 160%;
}


/* Mobile menu styling and positioning */
ul,
li,
a {
  	padding: 0px;
  	margin: 0px;
}

#mobileMenu {
    font-family: "SourceSansPro";
    position: absolute;
    display: inline-block;
    overflow-y: scroll;
  	background-color: #ffffff;
    width: 100%;
  	z-index: 200;
}
#nav1 a {
  	color: #FFFFFF;
}

div ul li ul {
  	background-color: #263238;
  	list-style: none
}

#nav1 > li > a {
  	background-color: #37474f;
  	padding: 16px 18px;
  	text-decoration: none;
  	display: block;
  	border-bottom: 2px solid #263238;
  	background: linear-gradient(top, #37474f, #111111);
}

/* Submenu styling */
.subMenuMobile li {
    font-size: 100%;
}
.subMenuMobile li:hover {
  	background-color: ;
}
.subMenuMobile li {
  	color: #ffffff;
  	text-decoration: none;
}

/* Hide Dropdowns by Default */
#nav1 li ul {
  	display: none;
}

/* Bottom Nav styling */
.nav.bottomNav {
  	top: 87%;
    width: 100%;
    height: auto;
  	display: inline-block;
  	text-align: center;
  	background: #cc3300;
  	position: absolute;
    overflow: visible;
  	z-index: 201;
}
.bottomNav a {
  	color: #fff;
}

.col-20 {
    width: 20%;
  	margin: 0;
  	float: left;    
}
}

@media only screen and (min-width : 0) and (max-width : 299px) {
.nav.bottomNav {
    font-size: 90%;
}
}



/* **********************************************/
/* ************ Mobile Responsiveness ***********/
/* **********************************************/
@media only screen and (min-width : 0) and (max-width : 450px) {
.slider {
    height: 40%;
}

#mobileMenu {
    top: 40%;
    height: 47%;
}
.subMenuMobile li {
    padding: 3.5% 5%;
}

/* Slide link styling */
.slide.active .slide-text {
    width: 50%;
    bottom: 15%;
}

/* Slide control button styling */
.slider-pagi {
    bottom: 62%;
}

.nav.bottomNav {
    padding: 3% 0;
}
}

@media only screen and (min-width : 451px) and (max-width : 600px) {
.slider {
    height: 50%;
}

#mobileMenu {
    top: 50%;
    height: 40%;
}
.subMenuMobile li {
    padding: 2.5% 5%;
}

/* Slide link styling */
.slide.active .slide-text {
    width: 42%;
    bottom: 15%;
}

/* Slide control button styling */
.slider-pagi {
    bottom: 53%;
}

.nav.bottomNav {
    padding: 1.8% 0;
}

.nav.bottomNav img {
    width: 29%;
    padding: 3% 0;
}
}


@media only screen and (min-width : 601px) and (max-width : 700px) {
.slider {
    height: 55%;
}

#mobileMenu {
    top: 55%;
    height: 40%;
}
.subMenuMobile li {
    padding: 2% 5%;
}

/* Slide link styling */
.slide.active .slide-text {
    width: 42%;
    bottom: 15%;
}

/* Slide control button styling */
.slider-pagi {
    bottom: 48%;
}

.nav.bottomNav {
    padding: 1.4% 0;
}

.nav.bottomNav img {
    width: 26%;
    padding: 3% 0;
}
}

